/* Responsive */
@media only screen and (max-width: 600px) {
    .p-lr-20p {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media only screen and (max-width: 992px) {
    .p-t-20-mobile {
        padding-top: 20px;
    }
}

@media only screen and (min-width: 601px) {
    .p-lr-20p {
        padding-left: 20%;
        padding-right: 20%;
    }
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */


.cover-container {

}

.p-t-30 {
    padding-top: 30px;
}

.p-t-1rem {
    padding-top: 1rem;
}

.align-self-center {
    align-self: center!important;
}

.p-l-20 {
    padding-left: 20px;
}

.p-r-20 {
    padding-right: 20px;
}

.bg-dark-card {
    background-color: #343a40!important
}

.w-inherit {
    width: inherit!important;
}

.card {
    margin-top: 12px;
    margin-bottom: 12px;
}

/*
 * Header
 */

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}
